* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

 body {
    margin: 0;
    padding: 0px;
    font-family: Segoe UI;
    background-color: #E7E0C9;
 }

 .wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
 }
  
 .logo a {
    font size: 30px;
    float: left;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .menu {
    float: right;
 }
 
 nav {
    width: 100%;
    margin: auto;
    display: flex; 
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #D9CAB3;
    font-family: Segoe UI;
}

 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }

 nav ul li {
    float: left;
 }

 nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
 }

 nav ul li a:hover {
    text-decoration: underline;
 }

 .wk {
    margin: auto;
    display: block;
    background-color: #E7E0C9;
 }
  
 a.tbl-orange {
    background: F5F5F5;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    background-color: #E7E0C9;
 }
 
 .content2 {
   padding: 1% 12% 1% 12%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #E7E0C9;
   font-size: 18px;
 }

 .otkp {
  max-width: 62%;
  max-height: 62%;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1% 12% 13% 20%;
  padding-top: 20px;
 }

 .tkj {
  max-width: 50%;
  max-height: 50%;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1% 12% 13% 16%;
  padding-top: 20px;
 }

 .rpl {
  max-width: 75%;
  max-height: 75%;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1% 12% 1% 8%;
  padding-top: 20px;
 }

 .mm {
  max-width: 55%;
  max-height: 55%;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1% 12% 13% 16%;
  padding-top: 20px;
 }

 .bdp {
  max-width: 62%;
  max-height: 62%;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 10% 12% 13% 19%;
  padding-top: 20px;
 }

 .tbg {
  max-width: 53%;
  max-height: 53%;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 10% 12% 13% 15%;
  padding-top: 20px;
 }
 
 .htl {
   max-width: 62%;
   max-height: 62%;
   display: grid;
   grid-template-columns: 40% 60%;
   padding: 10% 12% 13% 17%;
   padding-top: 25px;
 }

 .perpus1 {
   max-width:70%;
   max-height:70%;
   background-color: #E7E0C9;
 }

 .perpus2 {
   max-width:72%;
   max-height:72%;
   background-color: #E7E0C9;
 }

 .content4 {
   padding: 1% 12% 6% 7%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #E7E0C9;
   font-size: 18px;
 }
 
 .content5 {
   padding: 1% 12% 10% 12%;
   display: grid;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #E7E0C9;
   font-size: 18px;
 }

 .hotel {
   display: flex;
   align-items: center;
   font-size: 18px;
 }

 .tataboga {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-right: 30px;
 }

 .bisnis {
  display: flex;
  align-items: center;
  font-size: 18px;
 }

 .mmd {
  display: flex;
  align-items: center;
  font-size: 18px;
 }

.rpl2 {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 1% 12% 6% 5%;
}

.otkp2 {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.tkj2 {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.content6 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  background-color: #E7E0C9;
  padding: 0 12%;
  font-size: 18px;
}

.Visi {
  background-color: #E7E0C9;
  transition: 0.3s;
  width: 300px;
  min-height: 150px;
  padding: 32px;
  margin: 81px 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Visi:hover {
  background-color: #8E806A;
}

.content7 {
  padding: 1% 12% 6% 12%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #E7E0C9;
  font-size: 18px;
}

.kantin1 {
  width: 70%;
  height: 70%;
  display: block;
  margin: auto;
}

.kantin2 {
  width: 65%;
  height: 65%;
  display: block;
  margin: auto;
}

.content8 {
  padding: 1% 12% 6% 12%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #E7E0C9;
  font-size: 18px;
}

.matrik {
  max-width: 40%;
  max-height: 40%;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1% 12% 6% 31%;
  background-color: #E7E0C9;
}

.content3 {
  padding: 1% 12% 2% 20%;
  background-color: #E7E0C9;
  font-size: 18px;
}